# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# ILI: Ignore IDE stuff
**/.classpath
**/.project
**/.settings
**/bin

# ILI: Ignore openAPI generated code
backend/openapi
frontend/src/openapi

# ILI: Ignore npm output
frontend/node_modules
